---
import { getCollection } from "astro:content";
import ArticleLayout from "../../layouts/ArticleLayout.astro";
import BlogPost from '../../components/BlogPost.astro';

const allPosts = (await getCollection("library"))
    .filter((post) => post.data.posted !== false)
    .sort(
    (a, b) => new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf()
);
const pageTitle = "Читальня";
---

<ArticleLayout>
    <h1>{pageTitle}</h1>
	<section class="posts-preview">
        {allPosts.map((post) => (
            <BlogPost
                class="post"
                url={`/library/${post.slug}/`}
                title={post.data.title}
                subtitle={post.data.subtitle}
                description={post.data.description}
                pubDate={post.data.pubDate}
            />
        ))}
    </section>
</ArticleLayout>